.nav{
    background-color: aquamarine;
    width: 100%;
    display: inline-block;
    height: 48px;
    text-align: center;
    border-radius: 14px;

}
.nav h1{
    font-size: 20px;
}
.nav a{
    text-decoration: none;
    text-align: right;
}
.link a{
    text-decoration: none;
    font-size: 18px;
    background-color: aquamarine;
}
.link a{
    background-color: aquamarine;
    height: 40px;
    display: inline-block;
    width: 70%;
    text-align: center;
    padding-top: 10px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}
.link a:hover{
    background-color: rgb(71, 55, 34);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 227, 231);
}